@model QueseriaSoftware.ViewModels.ProductoViewModel

<div class="form-box p-3" style="background-color: #d9d9d9; padding: 20px;">
@*     <div class="producto-box mb-3" style="height: 200px; background-color: white;"></div>
 *@
    <img class="producto-box mb-3"src="@Model.ImagenUrl" style="height: 200px; background-color: white;" alt="@Model.Nombre" />
    <div class="producto-body py-2 px-3">
        <div class="producto-line mb-2">
            <strong>@Model.Nombre</strong>
        </div>
        <div class="producto-line mb-2">
            @Model.Descripcion
        </div>
        <div class="producto-line mb-3">
            $@Model.Precio.ToString("N2")
        </div>
    </div>

    @if (Model.CantidadEnCarrito.HasValue && Model.CantidadEnCarrito.Value > 0)
    {
        <form asp-action="ActualizarCantidad" asp-controller="Carrito" method="post" class="d-flex align-items-center gap-2 mt-3 form-actualizar-al-pedido">
            <input type="hidden" name="productoId" value="@Model.Id" />
            <input type="number" name="cantidad" class="form-control input-gray cantidad-input" placeholder="Cantidad" style="width: 100px; margin-bottom: 0; background-color: white;" min="0" value="@Model.CantidadEnCarrito" />
            <button type="submit" class="btn-yellow" style="width: 150px;">Actualizar</button>
        </form>

        <form asp-action="EliminarLinea" asp-controller="Carrito" method="post" class="mt-2">
            <input type="hidden" name="lineaId" value="@Model.CarritoLineaId" />
            <button type="submit" class="btn-red" style="width: 150px;">Eliminar</button>
        </form>

    }
    else
    {
        <form asp-action="AgregarProducto" asp-controller="Carrito" method="post" class="d-flex align-items-center gap-2 mt-3 form-agregar-al-pedido">
            <input type="hidden" name="ProductoId" value="@Model.Id" />
            <input type="hidden" class="stock-disponible" value="@Model.Stock" />
            <input type="number" name="Cantidad" class="form-control input-gray cantidad-input" placeholder="Cantidad" style="width: 100px; margin-bottom: 0; background-color: white;" min="1" />
            <button type="submit" class="btn-green" style="width: 150px;">Agregar al carrito</button>
        </form>
    }
</div>
